<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 别名 -->
    <typeAliases>
        <typeAlias alias="User" type="com.chlsmile.manage.framework.domain.User" />
        <typeAlias alias="Role" type="com.chlsmile.manage.framework.domain.Role" />
        <typeAlias alias="Menu" type="com.chlsmile.manage.framework.domain.Menu" />
    </typeAliases>
</configuration>